# Flutter related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
.idea/
.vscode/

# iOS related
ios/Flutter/.last_build_id
ios/Pods
ios/Runner.xcworkspace
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/app.podspec
*.hmap

# Android related
android/.gradle/
android/app/*.iml
android/local.properties
android/.idea
android/gradle/
android/app/build/

# Xcode and macOS
*.pbxuser
*.mode1v3
*.mode2v3
*.xcworkspacedata
*.xcuserstate
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.app.dSYM

# IDE related
*.iml
*.ipr
*.iws
*.swp
*~

# User-specific files
.idea/
*.iml
*.DS_Store
*.swp
*.log

# Web related
web/.dart_tool/
web/build/
web/main.dart.js
web/flutter_service_worker.js
web/index.html
web/.packages
